.network__container{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.network__container--title h3{
    height: 100px;
    width: 300.406005859375px;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;   
    padding: 0 20px; 
    margin: 0 auto;
}
.network__container--title p{
    height: 60px;
    width: 555px;
    font-size: 13px;
    line-height: 30px; 
    text-align: center; 
    color: #4F5665;
    margin-top: 130px;
    margin-bottom: 255px;
    padding: 0 120px;
    margin: 0 auto;
}
.network__container--title p span{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
.network__container--image img{
    width: 300px;
    height: 400px;
}
.network__container--brands{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}